.instructions {
    margin-top: 20px;
    width: 50%;
    padding: 10px;
    border-radius: 7px;
    animation: showBlock 1s;
    box-sizing: border-box;

    @keyframes showBlock {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .instructionList {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        color: white;
        a {
            color: rgb(255, 255, 255);
            font-weight: 900;
            transition: 0.5s;
            position: relative;
            border-bottom: 1px solid white;
            &:hover {
                text-shadow: 0 0 5px black;
            }
        }
    }
}