.info{
    position: fixed;
    bottom: 40px;
    left: 40px;
    background-color: green;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px #3b3b3b;
    opacity: 0;

    visibility: hidden;

    animation: showHidenWindow 5s;

    @keyframes showHidenWindow {
        0% {opacity: 0; visibility: visible }
        50% {opacity: 1}
        100% {opacity: 0}
    }
}